<!DOCTYPE html>
<html>
<head>
    <script src="http://code.angularjs.org/1.2.7/angular.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="money.js"></script>

</head>
<body ng-app="terraria" ng-controller="terrariacontroller">
    <div class="leftcontainer">
        <div ng-if="selected" class="mainobject object">
            <a class="name" ng-bind="selected.name" href="{{'http://terraria.gamepedia.com/'+selected.name.replace(' ','_')}}" target="_blank"></a>
            <nobr>
                <img ng-src="{{selected.img}}" />
                <div ng-if="selected.banner.length" style="display: inline-block">
                    <img ng-src="{{selected.banner}}" />
                </div>
            </nobr>
            <div ng-if="selected.type">
                <span class="description">Type: </span>
                <span class="type" ng-bind="selected.type"></span>
            </div>

            <div ng-if="selected.sell&&selected.buy">
                Sell/Buy: <money ng-model="selected.sell"></money>/<money ng-model="selected.buy"></money>
            </div>
            <div ng-if="selected.sell&&!selected.buy">
                Sell: <money ng-model="selected.sell"></money>
            </div>
            <div ng-if="!selected.sell&&selected.buy">
                Buy: <money ng-model="selected.buy"></money>
            </div>

            <div ng-if="selected.rarity.length">
                <span class="description">Rarity: </span>
                <img ng-if="selected.rarity !== undefined" class="rarity" ng-src="{{rarity[selected.rarity]}}" />
            </div>

            <div ng-if="selected.tooltip.length">
                <span class="description">Tooltip: </span>
                <span class="text" ng-bind="selected.tooltip" />
            </div>
            <div ng-if="selected.bufftooltip.length">
                <span class="description">Bufftooltip: </span>
                <span class="text" ng-bind="selected.bufftooltip" />
            </div>
            <div ng-if="selected.debufftooltip.length">
                <span class="description">Debufftooltip: </span>
                <span class="text" ng-bind="selected.debufftooltip" />
            </div>

            <div ng-if="selected.maxstack.length">
                <span class="description">Stacksize: </span>
                <span class="text" ng-bind="selected.maxstack" />
            </div>

            <div ng-if="selected.bonus.length">
                <span class="description">Bonus: </span>
                <span class="text" ng-bind="selected.bonus" />
            </div>
            <div ng-if="selected.setbonus.length">
                <span class="description">Set-Bonus: </span>
                <span class="text" ng-bind="selected.setbonus" />
            </div>
            <div ng-if="selected.defense.length">
                <span class="description">Defense: </span>
                <span class="text" ng-bind="selected.defense" />
            </div>
            <div ng-if="selected.damage.length">
                <span class="description">Damage: </span>
                <span class="text" ng-bind="selected.damage" />
            </div>
            <div ng-if="selected.criticalchance.length">
                <span class="description">Critchance: </span>
                <span class="text" ng-bind="selected.criticalchance" />
            </div>
            <div ng-if="selected.knockback.length">
                <span class="description">Knockback: </span>
                <span class="text" ng-bind="selected.knockback" />
            </div>
            <div ng-if="selected.usetime.length">
                <span class="description">Usetime: </span>
                <span class="text" ng-bind="selected.usetime" />
            </div>
            <div ng-if="selected.toolspeed.length">
                <span class="description">Toolspeed: </span>
                <span class="text" ng-bind="selected.toolspeed" />
            </div>
            <div ng-if="selected.mana.length">
                <span class="description">Mana: </span>
                <span class="text" ng-bind="selected.mana" />
            </div>
            <div ng-if="selected.effects.length">
                <span class="description">Effects: </span>
                <span class="text" ng-bind="selected.effects" />
            </div>
            <div ng-if="selected.duration.length">
                <span class="description">Duration: </span>
                <span class="text" ng-bind="selected.duration" />
            </div>

            <div ng-if="selected.healhealth.length">
                <span class="description">Meahl Health: </span>
                <span class="text" ng-bind="selected.healhealth" />
            </div>
            <div ng-if="selected.healmana.length">
                <span class="description">Heal Mana: </span>
                <span class="text" ng-bind="selected.healmana" />
            </div>
            <div ng-if="selected.grants.length">
                <span class="description">Grants: </span>
                <span class="text" ng-bind="selected.grants" />
            </div>
            <div ng-if="selected.buffedby.length">
                <span class="description">Buffed By: </span>
                <span class="text" ng-bind="selected.buffedby" />
            </div>
            <div ng-if="selected.inflicts.length">
                <span class="description">Inflicts: </span>
                <span class="text" ng-bind="selected.inflicts" />
            </div>

            <div ng-if="selected.tool.length">
                <span class="description">Tool: </span>
                <span class="text" ng-bind="selected.tool" />
            </div>
            <div ng-if="selected.placeable.length">
                <span class="description">Placeable: </span>
                <span class="text" ng-bind="selected.placeable" />
            </div>
            <div ng-if="selected.dimensions.length">
                <span class="description">Dimensions: </span>
                <span class="text" ng-bind="selected.dimensions" />
            </div>

            <div ng-if="selected.velocity.length">
                <span class="description">Velocity: </span>
                <span class="text" ng-bind="selected.velocity" />
            </div>
            <div ng-if="selected.environment.length">
                <span class="description">Environment: </span>
                <span class="text" ng-bind="selected.environment" />
            </div>
            <div ng-if="selected.aitype.length">
                <span class="description">AI-Type: </span>
                <span class="text" ng-bind="selected.aitype" />
            </div>
            <div ng-if="selected.maxlife.length">
                <span class="description">Maxlife: </span>
                <span class="text" ng-bind="selected.maxlife" />
            </div>
            <div ng-if="selected.kbresistance.length">
                <span class="description">KB-Resistance: </span>
                <span class="text" ng-bind="selected.kbresistance" />
            </div>
            <div ng-if="selected.bait.length">
                <span class="description">Bait Power: </span>
                <span class="text" ng-bind="selected.bait" />
            </div>

            <div ng-if="selected.drops.length || selected.coins.length">
                <span class="description">Drops: </span>
                <table>
                    <tr ng-if="selected.coins.length" class="drop">
                        <money ng-model="selected.coins"></money>
                    </tr>
                    <tr ng-if="selected.drops.length" class="drop" ng-repeat="drop in selected.drops">
                        <td class="itemWithCount">
                            <nobr>
                                <img ng-src="{{objects[drop.dropId].img}}" title="{{drop.name}}" ng-click="setSelected(objects[drop.dropId])" />
                                <div class="ammount" ng-bind="drop.amount"></div>
                            </nobr>
                        </td>
                        <td> (<span ng-bind="drop.rate"></span>)</td>
                    </tr>
                </table>
            </div>

            <div ng-if="selected.reciepts.length">
                <span class="description">Receipt: </span>
                <table>
                    <tr class="reciept" ng-repeat="reciept in selected.reciepts">
                        <td class="itemWithCount">
                            <nobr>
                                <img ng-src="{{selected.img}}" />
                                <div class="ammount" ng-bind="reciept.result.ammount"></div>
                            </nobr>
                        </td>
                        <td>
                            <img class="station" src="{{station[reciept.station]}}" />
                        </td>
                        <td>
                            <table>
                                <tr ng-repeat="ingredient in reciept.ingredients">
                                    <td class="itemWithCount">
                                        <nobr>
                                            <img ng-src="{{objects[ingredient.itemID].img}}" title="{{ingredient.item}}" ng-click="setSelected(objects[ingredient.itemID])" />
                                            <div class="ammount" ng-bind="ingredient.ammount"></div>
                                        </nobr>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="selected.ingredientFor.length">
                <span class="description">Ingredient for: </span>
                <table>
                    <tr class="reciept" ng-repeat="reciept in selected.ingredientFor">

                        <td class="itemWithCount">
                            <nobr>
                                <img ng-src="{{selected.img}}" />
                                <div class="ammount" ng-bind="reciept.ammount"></div>
                            </nobr>
                        </td>
                        <td><img class="station" src="{{station[reciept.reciept.station]}}" /></td>
                        <td class="itemWithCount">
                            <nobr>
                                <img ng-src="{{objects[reciept.reciept.result.itemID].img}}" title="{{reciept.reciept.result.item}}" ng-click="setSelected(objects[reciept.reciept.result.itemID])" />
                                <div class="ammount" ng-bind="reciept.reciept.result.ammount"></div>
                            </nobr>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="selected.droppedby.length">
                <span class="description">Droped By: </span>
                <table>
                    <tr ng-if="selected.droppedby.length" class="drop" ng-repeat="drop in selected.droppedby">
                        <td class="itemWithCount">
                            <nobr>
                                <img ng-src="{{objects[drop.dropId].img}}" title="{{drop.name}}" ng-click="setSelected(objects[drop.dropId])" />
                                <div class="ammount" ng-bind="drop.amount"></div>
                            </nobr>
                        </td>
                        <td> (<span ng-bind="drop.rate"></span>)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="rightcontainer">
        <div class="filtercontainer">
            <input ng-model="filter.name" />
        </div>
        <div class="itemcontainer">
            <div ng-repeat="obj in objects | filter : filter.name | orderBy : 'name' | limitTo : 200 : 0" class="object" ng-click="$parent.selected = obj;">
                <span class="name" ng-bind="obj.name"></span>
                <div class="img">
                    <img ng-src="{{obj.img}}" />
                </div>
            </div>
            <div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]" style="height:0;opacity:0">&emsp;&emsp;&emsp;</div>
        </div>
    </div>
</body>
</html>