<div>
    <div style="display:inline" ng-if="platin">
        <span ng-bind="platin"></span><img width="19" height="19" src="http://vignette3.wikia.nocookie.net/terraria/images/f/fd/PlatinumCoin_Small.gif/revision/latest?cb=20150711070035" />
    </div>
    <div style="display:inline" ng-if="gold">
        <span ng-bind="gold"></span><img width="19" height="19" src="http://vignette3.wikia.nocookie.net/terraria/images/9/95/GoldCoin_Small.gif/revision/latest?cb=20150711070033" />
    </div>
    <div style="display:inline" ng-if="silver">
        <span ng-bind="silver"></span><img width="19" height="19" src="http://vignette3.wikia.nocookie.net/terraria/images/3/32/SilverCoin_Small.gif/revision/latest?cb=20150711070032" />
    </div>
    <div style="display:inline" ng-if="copper">
        <span ng-bind="copper"></span><img width="19" height="19" src="http://vignette2.wikia.nocookie.net/terraria/images/a/a9/CopperCoin_Small.gif/revision/latest?cb=20150711070031" />
    </div>
</div>
